@font-face {
  font-family: 'Pterra';
  src: url('~roguefont/pterra.ttf');
}


.theme-treaty:root {
  --color-base: #64533a;
  --color-label: #b1a390;

  --font-size: 12px;
  --font-family: 'Pterra';

  &::before,
  &::after {
    content: '';
    position: fixed;
    top: 31px;
    bottom: 31px;
    width: 64px;
    background-color: #290d09;
    z-index: 499;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  .TopDecorLeft {
    background-image: url('../assets/treaty/leftknob.svg');
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: 64px;
    background-color: #290d09;
    width: 64px;
    height: 128px;
    position: absolute;
    z-index: 500;
    left: 0px;
    top: 0px
  }

  .TopDecorRight {
    background-image: url('../assets/treaty/rightknob.svg');
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: 64px;
    background-color: #290d09;
    width: 64px;
    height: 128px;
    position: absolute;
    z-index: 500;
    right: 0px;
    left: auto;
    top: 0px
  }

  .TopDecorMiddle {
    background-image: url('../assets/treaty/roll.svg');
    background-repeat: repeat-x;
    pointer-events: none;
    height: 128px;
    background-size: 178px;
    position: absolute;
    border: none;
    pointer-events: none;
    box-shadow: none;
    z-index: 700;
    top: 0px;
    left: 64px;
    right: 64px;
  }


  .LowerDecorMiddle {
    background-image: url('../assets/treaty/roll.svg');
    background-repeat: repeat-x;
    height: 31px;
    background-size: 178px;
    background-color: #290d09;
    position: fixed;
    border: none;
    box-shadow: none;
    pointer-events: none;
    z-index: 700;
    bottom: 0px;
    left: 64px;
    right: 64px;
  }

    .LowerDecorRight {
    background-image: url('../assets/treaty/rightknob.svg');
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: 64px;
    background-color: #290d09;
    width: 64px;
    height: 31px;
    position: fixed;
    z-index: 500;
    right: 0px;
    left: auto;
    bottom: 0px
  }

    .LowerDecorLeft {
    background-image: url('../assets/treaty/leftknob.svg');
    background-repeat: no-repeat;
    background-size: 64px;
    background-color: #290d09;
    width: 64px;
    height: 31px;
    position: fixed;
    z-index: 500;
    left: 0px;
    bottom: 0px
  }


  // Basics
  .Layout__content {
    background-image: none;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 32px;
    font-size: 14px;
  }

  .TitleBar {
    opacity: 0;
  }


  // Section
  --section-separator-color: #221c13;
  --section-title-color: #e9ca9e;

  // Button
  --button-background-default: #41372b;
  --button-background-selected: #41372b;
  .Button {
    margin-bottom: 2px;
    transition: all 0.5s;
  }

  // Input
  --input-border-color: #fcc37d;

}
